<body class="bg-theme bg-theme9">
    <!-- Start wrapper-->
    <div id="wrapper">
      <app-sidebar></app-sidebar>
      <div class="clearfix"></div>
        
      <div class="content-wrapper">
        <div class="container-fluid">
    
          <!--Start Dashboard Content-->
          <div class="card mt-3">
            <div class="card-content">
              <div class="row row-group m-0">
                <div class="col-12">
                  <div class="card-body">
                    <h5 class="welcome-title">Bem vindo {{user}}! <br> Utilize o MENU ao lado para realizar suas ações!</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          
          <!--End Dashboard Content-->
          
          <!--start overlay-->
          <div class="overlay toggle-menu"></div>
          <!--end overlay-->
            
        </div>
        <!-- End container-fluid-->
        
      </div><!--End content-wrapper-->
      <!--Start Back To Top Button-->
      <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
      <!--End Back To Top Button-->
        
    </div><!--End wrapper-->
      
  </body>