.close-modal {
  justify-content: flex-end;
  display: flex;
}

.form-group{
  font-family: Times, "Times New Roman", Georgia, serif;
  padding: 4px;
}

.tittle {
  color: royalblue;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
}


.button-style{
  background-color: royalblue;
  border: none;
  outline:none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 25px 2px 4px;
  cursor: pointer;
}
